h1{
    color:greenyellow;
    text-align: center;
}
h3{
    color:aquamarine
}

body{
    background-color: black;
    color:greenyellow;
    text-align: center;
    font-family: monospace;
    margin: 20;
    padding: 20px;
}


