h1{
    color:white;
}

body{
    background-color: black;
    color:white;
    margin: 20;
    padding: 20px;
}

p{
    font-weight: bold
}
#second{
    color:blueviolet;
}

.second{
    color:aquamarine;
}